<section class="main">

    <div>
        <h2>Hello,I'm Raneem <br> <span>MERN Stack Developer</span> </h2>
        <h3>let's make your web page more flixable & smarter </h3>
        <a href="#portfolio" class="main-btn">view my work</a>
    </div>
    
   </section>



  <div class="card-body about">
    <h5 class="card-title">About me</h5>
    <p class="card-text" style="font-weight: 600;">
      goal is to deliver top-quality code every time we take on a project. Client satisfaction is the priority during
      the development process, no matter whether it is a feature or a whole project, we're always sensitive to our
      client's feedback and ready to go an extra mile if that will make the client happy.</p>
    <p class="card-text"><small class="text-muted">ITI graduated</small></p>
  </div>

